.unity-tabs {
  display: grid;
  gap: 1rem;
  max-width: 1080px;
  width: 100%;

  [role="tablist"] {
    display: flex;
    margin: 0;
    overflow: visible;
  }

  [role="tab"] {
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent !important;
    color: currentColor !important;
    padding: 1rem;
    font-size: 1rem;
    text-decoration: none;
    text-align: left;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    transition: all 0.2s linear;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:focus {
      outline-offset: -6px;
      outline: 2px dotted currentColor;
    }
  }

  [role="tabpanel"] {
    position: relative;

    &:focus-visible {
      outline-offset: 2px;
      outline: 2px dotted currentColor;
    }

    &[hidden] {
      display: none;
    }
  }

  &--vertical {
    @media screen and (min-width: 768px) {
      gap: 1.5rem;
      grid-template-columns: 2fr 3fr;
    }

    [role="tablist"] {
      flex-direction: column;
    }

    [role="tab"] {
      margin-bottom: 0.5rem;
    }
  }

  &--horizontal {
    [role="tablist"] {
      border-bottom: 2px solid;
      flex-direction: row;
    }

    [role="tab"] {
      margin-right: 0.5rem;
      border-bottom: 0;
    }
  }
}
