.unity-lightbox-gallery {
  display: grid;
  grid-gap: 1rem;
}

.unity-lightbox-gallery-item {
  position: relative;

  &::before {
    display: block;
    padding-bottom: 100%;
    content: '';
  }

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;

    &:focus-visible {
      outline-offset: 2px;
      outline: 2px dotted currentColor;
    }
  }

  &__image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}

.lightbox-gallery-label {
  display: block;
}
